<%= labelled_form_for @ca_config, :url => 'configure' do |f| %>

    <div class="box tabular">

      <p><%= f.url_field :db_url, :size => 60 %></p>
      <p><%= f.text_field :db_user, :size => 60 %></p>
      <p><%= f.text_field :db_password, :size => 60 %></p>
      <p><%= f.number_field :redmine_user_id %></p>
      <p><%= f.number_field :frequency %></p>
    </div>

    <%= submit_tag l(:button_save) %>
<% end %>