<% content_for :header_tags do %>
    <%= javascript_include_tag "jquery.ui.datepicker-pt-BR.js", :plugin => 'Allocation' %>
<% end %>

<script type="text/javascript">
    var datepickerOptions = { dateFormat: 'yy-mm-dd', firstDay: 1, showOn: 'button', buttonImageOnly: true,
        buttonImage: '/images/calendar.png', showButtonPanel: true, showWeek: true,
        showOtherMonths: true, selectOtherMonths: true, changeMonth: true, changeYear: true };

    $(function () {
        $('.datepicker').datepicker(datepickerOptions, $.datepicker.regional['pt-BR']);
        $('#start_date').datepicker("setDate", -1);
        $('#end_date').datepicker("setDate", new Date());
    });
</script>


<h2><%= t :casync_title %></h2>

<%= form_tag({:controller => "casync", :action => "show"}, :method => "get") do %>

    <p id="start_date_area">
      <label for="start_date"><%= t :start_date %>:</label>
      <input id="start_date" class="datepicker" name="start_date" size="10" type="text">
    </p>

    <p id="end_date_area">
      <label for="end_date"><%= t :end_date %>:</label>
      <input id="end_date" class="datepicker" name="end_date" size="10" type="text">
    </p>


    <p class="buttons">
      <a class="icon icon-checked" href="#" onclick="$(this).closest('form').submit();"><%= t :submit_form %></a>
    </p>
<% end %>